body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.pd-70{
    padding: 70px 0;
}
header{
    padding: 35px 0 20px;
}
.header-wrapper{
    overflow: auto;
}
.logo{
    float: left;
    max-width: 200px;
}
.logo img{
    max-width: 100%;
    display: block;
    padding: 10px;
}
.nav{
    float: right;
    width: 750px;
}
.nav-menu{
    list-style-type: none;
}
.nav-menu li{
    float: left;
    font-size: 19px;
    text-transform: uppercase;
    margin-left: 87px;
}
.nav-menu li a{
    text-decoration: none;
    color: #626262;
}

/* banner part start here */
.banner img{
    width: 100%;
}
/* banner part end here */

/* weeked text start here */
.tag, .comment{
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 20px;
}
.title{
    color: #626262;
    font-size: 40px;
}
.description{
    line-height: 1.7;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 14pt;
}
.comment{
    text-decoration: none;
}
/* weeked text end here */

/* blog start here */
.post{
    width: 48%;
}
.post img{
    width: 100%;
    margin-bottom: 28px;
}
.row{
    overflow: auto;
    margin-bottom: 70px;
}
.post-left{
    float: left;
}
.post-right{
    float: right;
}
.post-title{
    margin: 15px 0;
    font-size: 40px;
}
/* blog end here */